#center {
  text-align: center;
}

.centermenu {
  text-align: center;
}

#wpp {
  background-color: #e9e9e9;
}

.fontcursive {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(17, 17, 17);
}
.font2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.flexcontainer {
  display: flex;
  background-color: #779fb1;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexcontainer > div {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.flexcontainer2 {
  display: flex;
  background-color: #3a5d6b;
  flex-direction: column;
}

.flexcontainer2 > div {
  background-color: #081d25;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.flexcontainer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexcontainer3 > div {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}


#menu li {
  display: inline;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#menu li a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}

#menu li a:hover {
  color: #081d25;
}

.tmsocial {
  width: 50px;

  padding: 50px;
}
